    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
    * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9375rem;
        padding: 0;
        margin: 0;
        color: var(--Very-Dark-Blue);
    }
    :root {
        /*Primary*/
        --red:hsl(0, 78%, 62%);
        --Cyan: hsl(180, 62%, 55%);
        --Orange: hsl(34, 97%, 64%);
        --Blue: hsl(212, 86%, 64%);
        /*Neutral*/
        --Very-Dark-Blue: hsl(234, 12%, 34%);
        --Grayish-Blue: hsl(229, 6%, 66%);
        --Very-Light-Gray: hsl(0, 0%, 98%);
    }
    body {
        background-color: var(--Very-Light-Gray);
        background-color: hsl(0deg 0% 98% / 18%);
        min-height: 100vh;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    main {
        max-width: 300px;
        padding: 0 20px ;
    }
    section:first-child {
        max-width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    h1 {
        font-size: 20px;
    }
    h1:last-child,
    h2 {
        font-weight: 600;
       
    }
    h1:first-child {
        font-weight: 400;
        opacity: 0.7;
    }
    h1:last-of-type {
        letter-spacing: 0.4px;
    }
    h2 {
        font-size:15px;
        margin-left: 5px;
    }
    .first p {
        font-size: 12px;
        margin-top: 5px;
    }
    p:not(footer p) {
        opacity: .6;
        margin-top: 1px;
        font-size:11px;
        margin-left: 5px;
    }
    article {
        position: relative;
        max-width: 100%;
        margin-top: 0.9375em;
        height: 18vh;
        padding: 0.9375em;
        background-color: white;
        border-top: 3px solid;
        border-radius: 5px;
        box-shadow:  rgb(163 165 174 / 56%) 0px 6px 8px 0px;
    }
    article:first-of-type {
        border-color: var(--Cyan, black);
    } 
    article:nth-of-type(2) {
        border-color: var(--red, black);
    } 
    article:nth-of-type(3) {
        border-color: var(--Orange, black);
    } 
    article:last-of-type {
        border-color: var(--Blue, black);
    } 
    article img {
        width: 35px;
        position: absolute;
        bottom: 13px;
        right: 15px;
    }
    @media (max-width:331px) {
        section:first-child {
            margin-bottom: 0px;
        }
        h1:last-of-type {
            margin-bottom: 5px;
        }
        h1 {
            font-size: 14px;
        }
        h2 {
            font-size: 12px;
        }
        p:not(footer p) {
            font-size: 9px;
        }       
        article img {
            width: 25px;
            height: 25px;
            bottom:10px;
            right:10px;
        }
        .first p {
            font-size: 9px;
        }
    }
    @media (min-width:332px) {
        article img {
            width: 35px;
            height: 35px;
        }
    }
    @media (min-width:525px) {
        section:first-child {
            max-width: 450px;
        }
        h1 {
            font-size: 25px;
        }
        h1:last-of-type {
            letter-spacing: 0.6px;
        }
        main {
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        section:nth-of-type(2) {
            display: grid;
            grid-template-columns: repeat(3,minmax(0,250px));
            grid-template-rows: repeat(8,30px);
            gap: 20px;
            margin-top: 0.9375em;
        }
        article {
            margin-top: 0;
            height: inherit;
            box-shadow: rgb(163 165 174 / 38%) 0px 6px 20px 0px;
        }
        article:first-of-type {
            grid-area: 3/1/7/2;
        }
        article:nth-of-type(2) {
            grid-area: 1/2/5/3;
        }
        article:nth-of-type(3) {
            grid-area: 5/2/9/3;
        }
        article:last-of-type {
            grid-area: 3/3/7/4;
        }
        article img {
            width: 45px;
            height: 45px;
            bottom: 20px;
            right: 20px;
        }
    }
/*     @media (max-width:570px) {
        article img {
            width: 30px;
            height: 30px;
        } */
    }
